<html>

  <ul>
    <li>
      <p> <%= @player_1.name %> HP: <%= @player_1.hitpoints %> </p>
      <form action="/attack/new" method='post'>
        <input type='submit' value='Attack'> </form>
    </li>

    <li>
      <p> <%= @player_2.name %>  HP: <%= @player_2.hitpoints %> </p>

    </li>
  </ul>


<html>
