<form action="/play" method='post'>
  <h1>Battle!</h1>
  <h2>Sign in to play</h2>
  <ul>
    <li>
      <h4>Player One</h4>
      <input type="text" name='player_1_name'> </input>
    </li>

    <li>
      <h4>Player Two</h4>
      <input type="text" name='player_2_name'> </input>
    </li>

       <input type='submit' value='Submit'>
    </ul>
</form>
